:root {
  --18-reg-font-family: "Poppins", Helvetica;
  --18-reg-font-weight: 400;
  --18-reg-font-size: 18px;
  --18-reg-letter-spacing: 0px;
  --18-reg-line-height: normal;
  --18-reg-font-style: normal;
  --15-mid-font-family: "Poppins", Helvetica;
  --15-mid-font-weight: 500;
  --15-mid-font-size: 15px;
  --15-mid-letter-spacing: 0px;
  --15-mid-line-height: normal;
  --15-mid-font-style: normal;
  --12-mid-font-family: "Poppins", Helvetica;
  --12-mid-font-weight: 500;
  --12-mid-font-size: 12px;
  --12-mid-letter-spacing: 0px;
  --12-mid-line-height: normal;
  --12-mid-font-style: normal;
  --14-semi-font-family: "Poppins", Helvetica;
  --14-semi-font-weight: 600;
  --14-semi-font-size: 14px;
  --14-semi-letter-spacing: 0px;
  --14-semi-line-height: normal;
  --14-semi-font-style: normal;
  --18-bold-font-family: "Poppins", Helvetica;
  --18-bold-font-weight: 700;
  --18-bold-font-size: 18px;
  --18-bold-letter-spacing: 0px;
  --18-bold-line-height: normal;
  --18-bold-font-style: normal;
  --18-semi-font-family: "Poppins", Helvetica;
  --18-semi-font-weight: 600;
  --18-semi-font-size: 18px;
  --18-semi-letter-spacing: 0px;
  --18-semi-line-height: normal;
  --18-semi-font-style: normal;
  --header-24-bold-font-family: "Poppins", Helvetica;
  --header-24-bold-font-weight: 700;
  --header-24-bold-font-size: 24px;
  --header-24-bold-letter-spacing: 0px;
  --header-24-bold-line-height: normal;
  --header-24-bold-font-style: normal;
  --semi-s-24-semi-font-family: "Poppins", Helvetica;
  --semi-s-24-semi-font-weight: 600;
  --semi-s-24-semi-font-size: 24px;
  --semi-s-24-semi-letter-spacing: 0px;
  --semi-s-24-semi-line-height: normal;
  --semi-s-24-semi-font-style: normal;
  --semi-s-20-semibold-font-family: "Poppins", Helvetica;
  --semi-s-20-semibold-font-weight: 600;
  --semi-s-20-semibold-font-size: 20px;
  --semi-s-20-semibold-letter-spacing: 0px;
  --semi-s-20-semibold-line-height: normal;
  --semi-s-20-semibold-font-style: normal;
  --mid-s-24-mid-font-family: "Poppins", Helvetica;
  --mid-s-24-mid-font-weight: 500;
  --mid-s-24-mid-font-size: 24px;
  --mid-s-24-mid-letter-spacing: 0px;
  --mid-s-24-mid-line-height: normal;
  --mid-s-24-mid-font-style: normal;
  --mid-s-20-mid-font-family: "Poppins", Helvetica;
  --mid-s-20-mid-font-weight: 500;
  --mid-s-20-mid-font-size: 20px;
  --mid-s-20-mid-letter-spacing: 0px;
  --mid-s-20-mid-line-height: normal;
  --mid-s-20-mid-font-style: normal;
  --mid-s-18-mid-font-family: "Poppins", Helvetica;
  --mid-s-18-mid-font-weight: 500;
  --mid-s-18-mid-font-size: 18px;
  --mid-s-18-mid-letter-spacing: 0px;
  --mid-s-18-mid-line-height: normal;
  --mid-s-18-mid-font-style: normal;
  --mid-s-16-mid-font-family: "Poppins", Helvetica;
  --mid-s-16-mid-font-weight: 500;
  --mid-s-16-mid-font-size: 16px;
  --mid-s-16-mid-letter-spacing: 0px;
  --mid-s-16-mid-line-height: normal;
  --mid-s-16-mid-font-style: normal;
  --mid-s-14-mid-font-family: "Poppins", Helvetica;
  --mid-s-14-mid-font-weight: 500;
  --mid-s-14-mid-font-size: 14px;
  --mid-s-14-mid-letter-spacing: 0px;
  --mid-s-14-mid-line-height: normal;
  --mid-s-14-mid-font-style: normal;
  --mid-s-13mid-font-family: "Poppins", Helvetica;
  --mid-s-13mid-font-weight: 500;
  --mid-s-13mid-font-size: 13px;
  --mid-s-13mid-letter-spacing: 0px;
  --mid-s-13mid-line-height: normal;
  --mid-s-13mid-font-style: normal;
  --mid-s-11-mid-font-family: "Poppins", Helvetica;
  --mid-s-11-mid-font-weight: 500;
  --mid-s-11-mid-font-size: 11px;
  --mid-s-11-mid-letter-spacing: 0px;
  --mid-s-11-mid-line-height: normal;
  --mid-s-11-mid-font-style: normal;
  --reg-s-20-reg-font-family: "Poppins", Helvetica;
  --reg-s-20-reg-font-weight: 400;
  --reg-s-20-reg-font-size: 20px;
  --reg-s-20-reg-letter-spacing: 0px;
  --reg-s-20-reg-line-height: normal;
  --reg-s-20-reg-font-style: normal;
  --reg-s-16-reg-font-family: "Poppins", Helvetica;
  --reg-s-16-reg-font-weight: 400;
  --reg-s-16-reg-font-size: 16px;
  --reg-s-16-reg-letter-spacing: 0px;
  --reg-s-16-reg-line-height: normal;
  --reg-s-16-reg-font-style: normal;
  --reg-s-14-reg-font-family: "Poppins", Helvetica;
  --reg-s-14-reg-font-weight: 400;
  --reg-s-14-reg-font-size: 14px;
  --reg-s-14-reg-letter-spacing: 0px;
  --reg-s-14-reg-line-height: normal;
  --reg-s-14-reg-font-style: normal;
  --reg-s-13-reg-font-family: "Poppins", Helvetica;
  --reg-s-13-reg-font-weight: 400;
  --reg-s-13-reg-font-size: 13px;
  --reg-s-13-reg-letter-spacing: 0px;
  --reg-s-13-reg-line-height: normal;
  --reg-s-13-reg-font-style: normal;
  --reg-s-11-reg-font-family: "Poppins", Helvetica;
  --reg-s-11-reg-font-weight: 400;
  --reg-s-11-reg-font-size: 11px;
  --reg-s-11-reg-letter-spacing: 0px;
  --reg-s-11-reg-line-height: normal;
  --reg-s-11-reg-font-style: normal;
  --shadow: 0px 4px 6px 0px rgba(224, 224, 224, 1);
  --variable-collection-org-color: rgba(238, 189, 172, 1);
  --variable-collection-color: rgba(218, 240, 138, 1);
  --variable-collection-grey-tenis: rgba(238, 239, 233, 1);
  --variable-collection-light-black: rgba(90, 91, 85, 1);
  --variable-collection-light-grey-green: rgba(246, 247, 248, 1);
  --variable-collection-dark-grey-new: rgba(54, 54, 54, 1);
  --variable-collection-light-greyyy: rgba(94, 94, 94, 1);
  --variable-collection-light-green: rgba(235, 240, 220, 1);
  --variable-collection-white-bg: rgba(252, 252, 252, 1);
  --variable-collection-base-yellow: rgba(245, 190, 19, 1);
  --variable-collection-black: rgba(6, 5, 1, 1);
  --variable-collection-BG-grey: rgba(216, 212, 202, 1);
  --variable-collection-BG-white: rgba(249, 246, 238, 1);
  --variable-collection-brown-txt: rgba(43, 27, 20, 1);
  --variable-collection-txt-grey: rgba(98, 98, 98, 1);
  --variable-collection-light-yellow: rgba(247, 205, 80, 1);
  --variable-collection-yellow-strock: var(--variable-collection-base-yellow);
  --variable-collection-attention-red: rgba(255, 0, 0, 1);
  --variable-collection-grey-for-dark: rgba(152, 152, 152, 1);
  --variable-collection-grey-strock: var(--variable-collection-txt-grey);
  --variable-collection-base-BG: rgba(236, 236, 236, 1);
  --variable-collection-dark-brown-grey: rgba(64, 60, 57, 1);
  --variable-collection-grey-shadow: var(--variable-collection-txt-grey);
  --variable-collection-slide-color: rgba(175, 175, 175, 1);
  --variable-collection-strock: var(--variable-collection-grey-for-dark);
  --variable-collection-highlight-yellow: rgba(251, 237, 193, 1);
  --variable-collection-attention-need: rgba(216, 0, 15, 1);
  --variable-collection-light-grey: rgba(246, 246, 246, 1);
  --variable-collection-base-org: rgba(253, 91, 0, 1);
  --variable-collection-basee-org: rgba(245, 89, 5, 1);
  --variable-collection-white-org: rgba(255, 243, 235, 1);
  --variable-collection-blc-org: rgba(41, 14, 0, 1);
  --variable-collection-light-white: rgba(253, 253, 253, 1);
  --variable-collection-strc: rgba(0, 0, 0, 0.2);
  --variable-collection-grey-lll: rgba(246, 246, 246, 1);
}
