:root {
  --semi-s-24-semi-font-family: "Poppins", Helvetica;
  --semi-s-24-semi-font-weight: 600;
  --semi-s-24-semi-font-size: 24px;
  --semi-s-24-semi-letter-spacing: 0px;
  --semi-s-24-semi-line-height: normal;
  --semi-s-24-semi-font-style: normal;
}
